


.kitty {
    border: 10px dashed #fa8072;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.todo {
    margin-left: 5px;
    font-size: 1.5em;
}

.todo_el {
    color: #fa8072;
    
}

.todo_el.finished {
    color: rgb(170, 225, 88);
    text-decoration: line-through;
}