* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    font-size: 17px;
    background-color:#F0F2F5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 80px;
}

.logo {
    width: 320px;
}

.top-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Facebook{
    font-size: 60px;
    font-weight: 750;
    color: #1877F2;
    margin-bottom: 20px;
}

.top-text{
    font-size: 24px;
    width: 420px;
}


.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box hr {
    width: 100%;
    border: none;
    border-top: 1px solid #dadde1;
    margin: 20px 0;
}


.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 380px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white; 
    padding:20px;
    margin-bottom: 40px;
}
.login-box input{
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.login-box button{
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#login-button{
    width: 100%;
    background-color: #1877F2;
    font-size: 18px;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    color: white;
}

#forgot-link{
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

#create-button{
    background-color:#42b72a;
    color: white;
}

.bottom-text{
    font-size: 15px;
}

.footer {
    padding: 20px;
    font-size: 12px;
    color: #737373;
    max-width: 980px;
    margin: 0 auto;
}

.footer a {
    color: #737373;
    text-decoration: none;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.copyright{
    margin-top: 15px;
}
